extends layout

block head
  link(rel='stylesheet', href='/css/upload.css')

block content
  .container
    .header
      .header-item upload
      span.spacer
      .header-item sign in
      .header-item status
    .center
      .block#preview
        .button
          label(for="file-upload") Upload
          input#file-upload(type="file")
      .block#results
      .block
      .block
    .footer

block scripts
  script(src="/components/pdfjs-dist/build/pdf.combined.js")
  script(src="/js/upload2.js")
