body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bordered {
  border: 2px solid black;
}

#canvas-holder {
  overflow-y: scroll;
}

#plot {
}
